# Stuff we don't want priettier to ever to look into
.*/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# A linked collection directory created by pytest-ansible-units

collections/

# ansible-test sanity output locally

tests/output/

# Tracked but not manually edited

# Tracked but manually formatted

# WIP
README.md
