# The follow are 3rd party libs for validate
jsonschema
# /valiate

# The follow are 3rd party libs for cli_parse
ntc_templates
pyats ; python_version >= '3.6' and python_version < '3.9'
genie ; python_version >= '3.6' and python_version < '3.9'
textfsm
ttp
xmltodict
# /cli_parse
