coverage==4.5.4
git+https://github.com/ansible-network/pytest-ansible-network-integration.git
# ansitest deps include tox, pytest, pytest-xdit, and pytest-ansible-units
git+https://github.com/cidrblock/ansitest.git
pre-commit
